.p3{
    margin-left: 40px;
}
.box6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.p6{
    font-size: 35px;
    margin-top: -5px;
}

